// Colors
$primary-lightest: #f4f0f9;
$primary-light: #c8b6e2;
$primary: #a8a4ce;
$primary-dark: #7a86b6;
$primary-darkest: #545267;

$neutral: #fff;
$black: #000;

$border: 2px solid $black;
$transitions: all 0.3s;
