@use '../abstracts/variables' as var;
@use '../abstracts/mixins' as mixin;

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  grid-template-rows: 1fr;
  gap: 3.2rem;
  padding: 3.2rem;
  justify-items: center;

  @include mixin.respond(tab-sm) {
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  }

  @include mixin.respond(phone-land) {
    padding: 2.4rem;
  }

  @include mixin.respond(phone-port) {
    padding: 1.6rem;
    justify-content: center;
  }
}

.home__container {
  overflow-x: auto;
  margin-bottom: 3.2rem;
  display: grid;
  grid-auto-flow: column;
  gap: 2.4rem;
  position: relative;

  &::-webkit-scrollbar {
    display: none;
  }
}
