@use '../abstracts/variables' as var;
@use '../abstracts/mixins' as mixin;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 3.2rem;
  background-color: var.$primary-lightest;
  border-bottom: var.$border;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 120;

  @include mixin.respond(desktop) {
    width: 140rem;
    margin: 0 auto;
  }

  @media (max-width: 48em) {
    padding: 0.8rem 1.6rem;
  }

  & > div {
    display: flex;
    gap: 2.4rem;
    align-items: center;

    &:first-of-type {
      @include mixin.respond(phone-land) {
        margin-right: auto;
      }
    }

    @include mixin.respond(tab-sm-port) {
      gap: 1.6rem;
    }

    @include mixin.respond(phone-port) {
      gap: 0.8rem;
    }
  }

  .btn__join {
    @include mixin.respond(phone-port) {
      display: none;
    }
  }
}
