@use '../abstracts/variables' as var;
@use '../abstracts/mixins' as mixin;

.header {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  padding: 1.6rem 3.2rem;
  background-color: var.$primary-lightest;
  border-bottom: var.$border;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 120;

  @include mixin.respond(tab-port) {
    display: flex;
    justify-content: space-around;
    gap: 1.6rem;
  }

  @include mixin.respond(tab-sm-port) {
    padding: 0.8rem 1.6rem;
  }

  & > div {
    display: flex;
    gap: 2.4rem;
    align-items: center;

    &:last-of-type {
      justify-self: end;
      gap: 1.6rem;
    }

    @include mixin.respond(tab-sm) {
      gap: 1.4rem;
    }

    @include mixin.respond(tab-sm-port) {
      gap: 1.2rem;
    }

    @include mixin.respond(phone-port) {
      gap: 0.8rem;
    }
  }

  .btn__join {
    @include mixin.respond(phone-port) {
      display: none;
    }
  }
}
