@use "../abstracts/variables" as var;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 3.2rem;
  border-bottom: var.$border;

  & > div {
    display: flex;
    gap: 2.4rem;
    align-items: center;
  }
}
