@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mixin;

.user-nav {
  &__btn {
    background-color: transparent;
    border: none;
    height: 16px;
    width: 3rem;
    cursor: pointer;

    span {
      display: block;
      height: 3px;
      width: 3rem;
      background-color: var.$black;
      border-radius: 100px;
      position: relative;

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 3px;
        background-color: var.$black;
        border-radius: 100px;
      }

      &::before {
        transform: translateY(-0.8rem);
        width: 100%;
      }

      &::after {
        transform: translateY(0.8rem);
        width: 50%;
      }
    }
  }

  &__food {
    display: none;
  }
}

// FOOD NAV LARGER SCREENS
.food-nav {
  margin: 0 auto;
  padding: 3.2rem;

  @include mixin.respond(desktop) {
    width: 120rem;
  }

  @include mixin.respond(desktop-lg) {
    margin: 0 auto;
  }

  @include mixin.respond(tab-sm-port) {
    display: none;
  }

  &__list {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
  }

  &__link.btn {
    font-size: 1.8rem;

    span {
      @include mixin.respond(tab-sm) {
        display: none;
      }
    }
  }
}
