@use '../abstracts/variables' as var;
@use '../abstracts/mixins' as mixin;
@use '../abstracts/animations';

.sidebar {
  &-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    height: 110vh;
    width: 100%;
    background-color: rgba(var.$black, 0.5);
    display: none;

    &--open {
      display: block;
    }
  }

  &__btn {
    background-color: transparent;
    border: none;
    height: 16px;
    width: 3rem;
    cursor: pointer;
    position: relative;
    z-index: 120;

    @include mixin.respond(phone-land) {
      width: 2.4rem;
      height: 8.4px;
    }

    span {
      display: block;
      height: 3px;
      width: 3rem;
      background-color: var.$black;
      border-radius: 100px;
      position: relative;
      transition: all 0.2s;

      @include mixin.respond(phone-land) {
        width: 2.4rem;
        height: 2.4px;
      }

      &::before,
      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 3px;
        background-color: var.$black;
        border-radius: 100px;
        transition: var.$transitions;

        @include mixin.respond(phone-land) {
          height: 2.4px;
        }
      }

      &::before {
        transform: translateY(-0.8rem);
        width: 100%;

        @include mixin.respond(phone-land) {
          transform: translateY(-0.6rem);
        }
      }

      &::after {
        transform: translateY(0.8rem);
        width: 50%;

        @include mixin.respond(phone-land) {
          transform: translateY(0.6rem);
        }
      }
    }

    &--active {
      span {
        background-color: transparent;

        &::before,
        &::after {
          transform: translateY(0);
        }

        &::before {
          transform: rotate(45deg);
        }

        &::after {
          transform: rotate(-45deg);
          width: 100%;
        }
      }
    }
  }

  &__nav {
    margin-top: 8rem;
    margin-left: 8rem;

    @include mixin.respond(phone-land) {
      margin-top: 7.2rem;
      margin-left: 4.8rem;
    }
  }

  &__menu-content {
    width: 40rem;
    background-color: var.$neutral;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 110;
    border-right: var.$border;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-100%);
    transition: var.$transitions;

    @include mixin.respond(phone-land) {
      width: 36rem;
    }

    @include mixin.respond(phone-port) {
      width: 28rem;
    }

    &--open {
      opacity: 1;
      visibility: visible;
      transform: translateX(0);
    }
  }

  &__menu-container {
    overflow-y: auto;
    height: 100vh;
  }

  &__food {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.4rem;
    margin-bottom: 1.6rem;
  }

  &-title--lists {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    cursor: pointer;
    transition: var.$transitions;

    & i {
      font-size: 1.8rem;
      transition: var.$transitions;
    }

    &:hover,
    &:focus {
      color: var.$primary-darkest;
    }
  }

  &__list-container {
    height: 0;
    display: none;
    margin-top: 1.6rem;
    transition: var.$transitions;

    &--show {
      height: 100%;
      display: block;
      animation: showList 0.5s;
    }
  }

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    margin-left: 0.8rem;
    margin-bottom: 1.6rem;
  }
}

.sidebar-open {
  overflow: hidden;
}
