@use "../abstracts/variables" as var;

.btn {
  color: var.$black;
  background-color: var.$neutral;
  border: var.$border;
  border-radius: 5px;
  padding: 0.4rem 1.6rem;
  cursor: pointer;
  transition: var.$transitions;

  &:link,
  &:visited {
    text-decoration: none;
  }

  &:hover,
  &:focus {
    color: var.$neutral;
    background-color: var.$black;
    transform: translateY(-3.2px);
  }

  &:active {
    transform: translateY(-1.6px);
  }
}
