@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mixin;

.recipe-card {
  width: 24rem;
  background-color: var.$neutral;
  border: var.$border;
  border-radius: 10px;
  position: relative;
  display: grid;
  grid-template-rows: repeat(auto-fit, min-content);
  overflow: hidden;
  transition: var.$transitions;

  &:hover {
    transform: translateY(-0.8rem);
  }

  &__img-container {
    overflow: hidden;
    border-bottom: var.$border;
  }

  &__img {
    width: 24rem;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
    transition: var.$transitions;

    &:hover,
    .recipe-card__img-link:focus & {
      transform: scale(1.1);
    }
  }

  &__title {
    @include mixin.centerFlex;
    text-align: center;
    background-color: var.$neutral;
    width: 75%;
    border: var.$border;
    border-radius: 5px;
    margin: 0 auto;
    padding: 0.2rem;
    transform: translateY(-50%);
    position: relative;
    z-index: 10;
  }

  &__link {
    &:link,
    &:visited {
      text-decoration: none;
      color: var.$black;
      transition: all 0.2s;
    }

    &:hover,
    &:active {
      color: var.$primary-darkest;
    }
  }

  &__details {
    display: flex;
    justify-content: center;
    gap: 1.6rem;
    margin-top: -1.6rem;
    padding: 0.8rem;
  }
}
