@use '../abstracts/variables' as var;
@use '../abstracts/mixins' as mixin;

.recipe-card {
  width: 24rem;
  background-color: var.$neutral;
  border: var.$border;
  border-radius: var.$radius-lg;
  position: relative;
  display: grid;
  grid-template-rows: repeat(auto-fit, min-content);
  overflow: hidden;
  animation: showResults 1s;
  transition: var.$transitions;

  @include mixin.respond(tab-sm) {
    height: 20rem;
  }

  &:hover {
    transform: translateY(-0.8rem);
  }

  &__img-container {
    overflow: hidden;
    border-bottom: var.$border;

    @include mixin.respond(tab-sm) {
      @include mixin.centerFlex;
    }
  }

  &--lists &__title {
    transform: translateY(0);
    border: none;
    padding: 0.8rem 1.6rem;
  }

  &__img {
    width: 24rem;
    height: 100%;
    display: block;
    object-fit: cover;
    transition: var.$transitions;

    &:hover,
    .recipe-card__link:focus & {
      transform: scale(1.1);
    }
  }

  &__title {
    @include mixin.centerFlex;
    text-align: center;
    background-color: var.$neutral;
    width: 75%;
    border: var.$border;
    border-radius: var.$radius-sm;
    margin: 0 auto;
    padding: 0.2rem;
    transform: translateY(-50%);
    position: relative;
    z-index: 10;
  }

  &__link {
    &:link,
    &:visited {
      text-decoration: none;
      color: var.$black;
      transition: all 0.2s;
    }

    &:hover,
    &:active,
    &:focus {
      color: var.$primary-darkest;
    }
  }

  &__details {
    display: flex;
    justify-content: center;
    gap: 1.6rem;
    margin-top: -1.6rem;
    padding: 0.8rem;

    @include mixin.respond(tab-sm) {
      gap: 0.8rem;
    }
  }

  &--home {
    margin: 2.4rem 1.6rem;
  }
}
