@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mixin;

.recipe {
  background-color: var.$neutral;
  border: var.$border;
  height: 100%;
  padding: 3.2rem 4.8rem;
  overflow-y: auto;
  position: fixed;
  top: 0;
  z-index: 20;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  row-gap: 4.8rem;
  column-gap: 4.8rem;
  transform: translateY(100%);
  opacity: 0;
  visibility: hidden;
  transition: all 1s;

  &--show {
    animation: showRecipe 1s;
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }

  @include mixin.respond(laptop-sm) {
    grid-template-columns: repeat(auto-fit, minmax(36rem, 1fr));
  }

  @include mixin.respond(tab-port) {
    padding: 3.2rem;
  }

  @include mixin.respond(tab-sm-port) {
    padding: 0.8rem;
    padding-top: 4.8rem;
    grid-template-columns: 1fr;
  }

  @include mixin.respond(phone-land) {
    font-size: 1.4rem;
  }

  &__main-container {
    justify-self: center;
    position: relative;
  }

  &__sticky {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    position: sticky;
    top: 0;
    left: 50%;

    @include mixin.respond(tab-sm) {
      position: relative;
      top: 0;
      left: 0;
    }
  }

  &__img-container {
    margin: 0 auto;
    width: 40rem;
    border: 2px solid var.$neutral;
    border-radius: 20px;
    box-shadow: 0.8rem 0.8rem 0 var.$black;
    overflow: hidden;

    @include mixin.respond(laptop-sm) {
      width: 36rem;
    }

    @include mixin.respond(tab-port) {
      width: 32rem;
    }

    @include mixin.respond(tab-sm-port) {
      width: 24rem;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    display: block;
  }

  &__titles {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 0.8rem;
  }

  &__name {
    grid-column: 1 / -1;
  }

  &__info-container {
    display: flex;
    flex-direction: column;
    gap: 4.8rem;

    @include mixin.respond(tab-sm-port) {
      margin-left: 2.4rem;
    }

    @include mixin.respond(phone-land) {
      gap: 2.4rem;
      padding-left: 0.8rem;
    }
  }

  &__ingredients-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, 1fr));
    row-gap: 1.6rem;
    column-gap: 4.8rem;
    width: 75%;

    @include mixin.respond(tab-port) {
      column-gap: 3.2rem;
    }

    @include mixin.respond(phone-port) {
      grid-template-columns: 1fr;
    }

    & > * {
      color: var.$gray;

      @include mixin.respond(phone-land) {
        margin-left: 1.6rem;
      }
    }
  }

  &__ingredient {
    font-size: 1.4rem;
  }

  &__steps-container {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    width: 90%;

    @include mixin.respond(phone-land) {
      margin-left: 1.6rem;
    }

    & > * {
      color: var.$gray;
      line-height: 1.6;
    }
  }

  &__steps-link {
    color: #555;
  }

  &__cta {
    &:link,
    &:visited {
      color: var.$black;
      transition: var.$transitions;
    }

    &:hover,
    &:active {
      color: var.$primary-darkest;
    }
  }

  &__close {
    &:link,
    &:visited {
      color: var.$black;
      font-size: 2.7rem;
      text-decoration: none;
      position: absolute;
      top: 1.6rem;
      right: 2.4rem;
      transition: var.$transitions;

      @include mixin.respond(phone-port) {
        top: 0.8rem;
      }
    }

    &:hover {
      transform: scale(1.1);
    }
  }
}

.recipe-visible {
  overflow: hidden;
}
