@use '../abstracts/variables' as var;
@use '../abstracts/mixins' as mixin;

.search {
  &__label {
    position: relative;
    border-radius: var.$radius-sm;
    background-color: var.$neutral;
    padding: 0.8rem 1.6rem;
    border: var.$border;
    transition: var.$transitions;

    @include mixin.respond(phone-land) {
      border: none;
      border-radius: 0;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      opacity: 0;
      visibility: hidden;
      transform: translateY(-100%);
    }
  }

  &__input {
    border: none;
    font-size: 1.8rem;
    background-color: transparent;
    outline: none;
    width: 48rem;

    @include mixin.respond(tab-land) {
      width: 40rem;
    }

    @include mixin.respond(tab-port) {
      width: 24rem;
    }
  }

  &__btn,
  &__btn-mobile--close {
    border: none;
    background-color: transparent;
    font-size: 2.4rem;
    position: absolute;
    cursor: pointer;
  }

  &__btn {
    right: 1.8rem;
    transform: translateY(-10%);

    @include mixin.respond(phone-land) {
      display: block;
      top: 50%;
      right: 3.2rem;
      z-index: 10;
      transform: translate(-100%, -50%);
    }
  }

  &__btn-mobile--close {
    display: none;

    @include mixin.respond(phone-land) {
      display: block;
      position: absolute;
      z-index: 10;
      top: 50%;
      right: 1.6rem;
      transform: translateY(-50%);
    }
  }
}

.show-search__btn {
  display: none;
  cursor: pointer;
  font-size: 2.4rem;

  @include mixin.respond(phone-land) {
    display: inline-block;
    background-color: transparent;
    border: none;
  }
}

.show-search {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  z-index: 150;
}
