@use '../abstracts/variables' as var;
@use '../abstracts/mixins' as mixin;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;

  @include mixin.respond(desktop) {
    font-size: 75%;
  }
}

body {
  font-size: 1.8rem;
  background-color: var.$primary-lightest;
}
