@use '../abstracts/variables' as var;
@use '../abstracts/mixins' as mixin;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;

  @include mixin.respond(desktop) {
    font-size: 75%;
    min-height: 100vh;
    min-width: 100vw;
  }
}

body {
  font-size: 1.8rem;
  background-color: var.$primary-lightest;
  position: relative;

  @include mixin.respond(desktop) {
    width: 160rem;
    margin: 0 auto;
    min-height: 100vh;
  }

  @include mixin.respond(desktop-lg) {
    border-left: var.$border;
    border-right: var.$border;
  }
}
