@use '../abstracts/variables' as var;
@use '../abstracts/mixins' as mixin;

body {
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
}

.heading-1 {
  color: var.$black;
  font-size: 3.2rem;
  font-weight: 700;

  .logo {
    &:link,
    &:visited {
      color: inherit;
      text-decoration: none;
      text-transform: uppercase;
      font-style: italic;
      border-bottom: 2px solid transparent;
      transition: var.$transitions;

      @include mixin.respond(tab-sm-port) {
        font-size: 2.2rem;
      }
    }

    &:hover,
    &:active,
    &:focus {
      border-bottom: var.$border;
    }
  }
}

.heading-2 {
  font-weight: 500;
}

.heading-3 {
  font-size: 1.8rem;
  font-weight: 400;
}

.recipe-category,
.recipe-cuisine {
  color: var.$gray;
  text-transform: uppercase;
  font-size: 1.6rem;
  cursor: default;
}

.sidebar-title {
  font-size: 3rem;
  border: none;
  background-color: transparent;

  @include mixin.respond(phone-land) {
    font-size: 2.4rem;
  }
}
