@use '../abstracts/variables' as var;
@use '../abstracts/animations';

.recipes {
  padding: 1.6rem 2.4rem;

  &__heading {
    display: none;
  }
  .error-message {
    font-size: 2rem;
    background-color: var.$neutral;
    padding: 0.8rem 1.6rem;
    border: var.$border;
    border-radius: 10px;
    cursor: default;
    animation: showResults 0.2s;
  }
}

.random-card__heading {
  display: none;
}

.heading--show {
  display: block;
  animation: recipesHeading 1s;
}
